<!DOCTYPE html>

<html>

<head>
	<title>"HCI Project: Priority Page"</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		
		<h1>ABOUT PAGE</h1>
		
		<p>Sorry, this still needs fixing. Go ahead and click on the "Back" button below.</p>		

	</div>

	<p><a href="/">Back</a></p>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>

</html>