<!DOCTYPE html>

<html>

<head>
	<title>"HCI Project: Home Page"</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
</head>

<body>
	<div class="header"> 
		<div>
			<a href="/"><b>Home</b></a>
		</div>
		<div>
			<p><b>AJAncy</b></p>
		</div>
		<div>
			<a href="/"><b>Log in</b></a>
		</div>
	</div> 

	<div class="middle" style="text-align: center">
		<h4><b>Our Business Solutions</b></h4>
		<p id="blurb">
			Happy employees keep a business running. We work with companies to ensure that their employees are happy and vibe with their coworkers to promote a positive work environment.
		</p>
	</div>

	<div class="about_thumbnail" style="text-align: center">
		<a href="/"><b>About</b></a>
	</div>

	<div class="lower">
		<img border="0" src="John.png" width="100" height="100">
		<p id="name_quote"><i>John Doe, UCSD Student</i></p>
		<p id="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>

</html>
