<html>

<head>
	<title>"HCI Project: Home Page"</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/format-home.css" rel="stylesheet">
</head>

<body>
	<div class="container">

		<!--needs a button right here for the dropdown menu-->
		<div class="drop_menu">
			<a href="menu/" class="thumbnail">
				<p>Menu</p>
			</a>
		</div>
		
		<div class="blurb" id="businsess_solutions">
			<h2><b>Our Business Solutions</b></h2>

			<p>Happy employees keep a business growing. We work with companies to ensure that their employees are happy and vibe with their coworkers to promote a positive work environment.</p>
		</div>

		<div class="priority" id="second">
			<a href="about_page/" class="thumbnail">		
				<p>About</p>
			</a>
		</div>

		<!--set background color grey for "quote"-->
		<hr>
		
		<div class="quote">
			<p>"Lorem ipsum dolar sit amet, consectetur adipiscing elit. Suspendisse pellentesque, dui eu elementum mattis, dui."</p>

			<p>- Alex Li, <i>UCSD Student</i></p>
		</div>				
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>

</html>
