<!DOCTYPE html>

<html>

<head>
	<title>"HCI Project: Menu Page"</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		
		<h1>DROP DOWN MENU</h1>
		
		<p>Sorry, this still needs fixing.</p>
		<p>Click the "Second Page" to see the second semi-functional second screen.</p>
		<p>Otherwise, go ahead and click on the "Back to Home Page" button below.</p>		

	</div>

	<p><a href="priority_page/">Second Page</a></p>

	<p><a href="/">Back to Home Page</a></p>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>

</html>