<!DOCTYPE html>

<html>

<head>
	<title>"HCI Project: Home Page"</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/format-second-screen.css" rel="stylesheet">
</head>

<body>
	<div class="container">

		<h2>Welcome back, Alex!</h2>

		<div class="drop_menu">
			<a href="/menu/" class="thumbnail">
				<p>Menu</p>
			</a>
		</div>

		<button id="search_button" class="btn btn-primary btn-lg">Search Button</button>

		<hr>

		<form id="post">
	      	<label for="wallpost">[Picture Holder] </label>
	      		
	      	<input type="text" class="form-control" id="name" placeholder="What's on your mind?" name="wallpost">
	      		
	      	<input type="submit" id="submitBtn" class="btn btn-default" value="Submit Post"></input>
	    </form>

	    <hr>
		
		<div class="alex-comment" id="to-running-team">
			<p>[Picture Holder]</p>
			<p>Alex Li to Running Team</p>

			<p>Hey everyone, we're going for a run around La Jolla Cove in about 45 minutes. We'll meet in the front parking lot.</p>
		</div>

		<hr>

		<div class="reply_section">
			<button id="hidereps" class="btn btn-primary btn-lg">Hide replies</button>
		
			<div class="replies">
				<p>[Picture Holder]</p>
				<p>Janselle Justo</p>
				<p>Sounds good! See you all soon!</p>
			</div>

			<button id="showreps" class="btn btn-primary btn-lg">Show replies</button>
		</div>

			
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/priorityPage.js"></script>
</body>

</html>
