<!DOCTYPE html>

<html>

<head>
	<title>"HCI Project: Home Page"</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/format-second-screen.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
</head>

<body>
	<div class="container">

		<h2>Welcome back, Alex!</h2>

		<div class="drop_menu">
			<a href="/menu/" class="thumbnail">
				<p>Post Login Home Page</p>
			</a>
		</div>

		<h3>Suggested Mentors</h3>

		{{#each friends}}
		<div class="fake-friend">
			<img src="{{imageURL}}" class= "img-rounded">
			<a href="#">
				<h3 class = "takeName">{{name}}</h3>
			</a>
			<p>{{description}}</p>
			<hr>
		</div>
		{{/each}}

			
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/priorityPage.js"></script>
	<script src="js/hci-friends.js"></script>
</body>

</html>
