<!doctype html>

<html>
<head>
    <title>"HCI Project: Post Login Page"</title>   
    <meta charset="utf-8">
    
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="../public/js/login.js"></script>
</head>

<body>
    <div class="container">
        
        <h1>POST LOGIN PAGE</h1>
        
        <p>This still needs fixing.</p>
        <p>Click the "Mentorship" to see the second semi-functional mentor screen.</p>
        <p>Otherwise, go ahead and click on the "Log Out" button below.</p>     

    </div>

    <p><a href="priority_page/">Mentorship</a></p>

    <p><a href="/">Log Out</a></p>
</body>

</html>