.drop_menu {
	text-align: center;
	max-width: 50px;
}

.blurb {
	text-align: center;
}

.priority {
	text-align: center;
	max-width: 150px;
}

.quote {
	text-align: center;
	background-color: #CCCCCC;
}
